body {
    background-color: #d9d9d9 ;
    margin: 0;

}

header {

background-color: #121214;
width: 100%;
padding: 50px;
font-family: Arial, Helvetica, sans-serif
}

.thetitle {
    color: #FFFF;
    text-align: left;
    margin-left: 352px;
    max-width: 340px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.sub-cab {
    color: #42D3ff;
    text-align: left;
    margin-left: 352px;
    max-width: 340px;
    font-size: 16px;
}

.box {
    width: 736px;
    height: 1566px;
    margin-left: 351px;
    margin-right: 353px;
    margin-top: -20px;
    border-radius: 4px;

    background-color: white;
}

.h2-caixa {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 64px;
    margin-left: 64px;
}

.linha {
    content:"";
    display: block;
    width: 608px;
    height: 1px;
    background: #E6E6F0;
    margin: -1470px auto;
    margin-left: 415px;

}

.letras_miudas{

    
}

hr {
    width: 608px;
    margin-top: -64px;
    color: #E6E6F0;
    margin-bottom: 24px;

}

label {
    color: #4e4958;
    margin-left: 64px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

input{




}